@{
    ViewData["Title"] = "ForgetPassword";
    ViewData["Style"] = "ForgetPassword.css";
}

<h1 class="mt-10">Şifremi Unuttum</h1>
<hr />
<div>
        <form class="wrap" asp-action="ForgetPassword">
        <h4 >Mail Onayı</h4>

            <div class="cont">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2">
                <input name="email" class="textInput" placeholder="Eposta" />
            </div>
            <div class="">
                <input type="submit" value="Gönder" class="" />
            </div>
            </div>
        </form>
</div>