@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    ViewData["Style"] = "ResetPassword.css";
}

<h1 class="mt-10">Onay Ekranı</h1>

<hr />
    <div>
    <form class="wrap" asp-action="ResetPassword">
        <h4>Şifre Değiştir</h4>
        <div class="cont">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2">
                <input asp-for="EMail" style="background-color:darkgray;color:lightgray;border:none;" class="textInput"  value="@ViewData["eMail"]" />

            </div>
            <div class="mb-2">
                <input asp-for="Code" placeholder="Onay Kodu" class="textInput" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <input asp-for="PassWord" placeholder="Parola" class="textInput" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <input type="submit" value="Gönder" class="btn btn-primary" />
            </div>
            </div>
        </form>
    </div>

