
@{
    ViewData["Title"] = "Destinations";
    ViewData["Style"] = "Destination.css";
}

 
@*--- Cards ----*@
<section style="background-color:white; padding:1em 2em;box-shadow:1px 1px 4px 2px rgba(0,0,0,0.2)" class="cardWrapper container">
    <div class="cards">
        <div class="card">
            <img src="https://w0.peakpx.com/wallpaper/473/515/HD-wallpaper-awesome-nature-best-nature-cool-nature-nice-view-sunset.jpg" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://r1.ilikewallpaper.net/iphone-8-wallpapers/download/31897/Nature-Night-Meteor-Shooting-Sky-View-Lake-Reflection-iphone-8-wallpaper-ilikewallpaper_com.jpg" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://img.rawpixel.com/private/static/images/website/2022-05/upwk82512603-wikimedia-image-kows92qi.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=53e6925895a01f0da1687ad857c35d97" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://wallpaperaccess.com/full/670859.jpg" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1629146472269-75171b3f9103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1886&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1548586196-6fe665a5c1f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1592183075437-13a5af4dd779?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1506773090264-ac0b07293a64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1555086196-a28d9bc9d677?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <a asp-action="Place" asp-controller="Destination" class=" btnMore"> Daha Fazlası..</a>
            </div>
        </div>


    </div>
</section>