
@{
    ViewData["Title"] = "Index";
    ViewData["Style"] = "Destination.css";
}


@*--- Cards ----*@
<section style="background-color:white; padding:1em 2em;box-shadow:1px 1px 4px 2px rgba(0,0,0,0.2)" class="cardWrapper container">
    <div class="cards">
        <div class="card">
            <img src="https://t4.ftcdn.net/jpg/02/59/46/65/360_F_259466563_uej2xiJADU4kuLCBwMdo5Bovpdtl2npm.jpg" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://wallpapers.com/images/featured/cappadocia-fxpe2j47rf7rmbmi.jpg" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://wallpapercave.com/wp/FMSk24L.jpg" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://www.hdwallpaperspulse.com/wp-content/uploads/2020/02/mountain-HD-Antarctica-Wallpapers.jpg" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1629146472269-75171b3f9103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1886&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1548586196-6fe665a5c1f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1592183075437-13a5af4dd779?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1888&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1506773090264-ac0b07293a64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1555086196-a28d9bc9d677?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1579033461380-adb47c3eb938?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80" />
            <div class="content">
                <h3>
                    Lorem ipsum dolor
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad
                </p>
                <button class=" btnMore"> Daha Fazlası..</button>
            </div>
        </div>


    </div>
</section>