
@{
    ViewData["Title"] = "Place";
    ViewData["Style"] = "Place.css";
}

<h1>Place</h1>
<div class="container">
	<section id="home-reviews">
		<div class="col-sm-10 ml-auto mr-auto text-center">
			<h2 class="">Read what some of our customers are saying</h2>
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<p class="review-body">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							We appreciate the way in which the restoration of our drive thru sign was completed. Like the way YESCO took care of everything from removal to rewiring.<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="review-name">Valued Customer at McDonalds/Mac Management Inc.</p>
						<div class="stars">
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
						</div>
					</div>
					<div class="carousel-item">
						<p class="review-body">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							I have always had a great experience working with YESCO. that business relationship started over 15 years ago in Las Vegas and as I have lived in Twin Falls Idaho I have always recommended that we have YESCO do the our sign work. now that I am in Utah I will always recommend we use YESCO.<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="review-name">Jeremy at Sykes Enterprises, Inc.</p>
						<div class="stars">
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
						</div>
					</div>
					<div class="carousel-item">
						<p class="review-body">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							The office signs look great.<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="review-name">Matthew at Enterprise Rent A Car</p>
						<div class="stars">
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
						</div>

					</div>
					<div class="carousel-item">
						<p class="review-body">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							Your tech is outstanding.<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="review-name">Ted at Fall River Enterprises, Inc.</p>
						<div class="stars">
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
						</div>
					</div>
					<div class="carousel-item">
						<p class="review-body">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
							very professional and courteous.<i class="fa fa-quote-right" aria-hidden="true"></i>
						</p>
						<p class="review-name">Valued Customer at FedEx Ground</p>
						<div class="stars">
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
							<i class="fa fa-star fa-lg" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</div>
