
@{
    ViewData["Title"] = "Place";
    ViewData["Style"] = "Place.css";
}

<div class="wrapPlace">
@*	-------MainbG ----------------*@
<div class="mainBg">
		<div class="queto">
			<h1>
				NORTHERN LIGHTS
			</h1>
			<p>
				The northern lights or the Aurora Borealis is one of the great surprises of the Arctic night, and you can experience this multicoloured light show from September to April.
			</p>
		</div>
	</div>

	<div class="container">
@*	-------About Place ----------------*@
		<div class="aboutPlace">
			<h2>
				A BONUS IN THE NIGHT SKY
			</h2>
			<p class="aboutPraph">
				The northern lights is Greenland’s way of adding an extra bonus to the adventures of winter. It is free, there is enough for everyone and all it takes is for you to dress warmly, wear a sturdy pair of boots, add an ounce of patience, maybe carry with you a thermos of coffee, and then have someone there to share the adventure.
				<br />
				<br />
				The phenomenon is a source of great interest to many of us living here in Greenland. We keep an eye out for the northern lights through online forecasts, we follow live updates of how the northern lights are spreading across the Arctic, we take lots of photos with great enthusiasm, and we love to take our guests out in the dead of night to view the sky.
				<br />
				<br />
				Northern lights are part of the visual, physical characteristics of Greenland, and with an Arctic touch, the northern lights reach down from space filling up the night with myths and magic and clear and frosty winter adventures.
			</p>
			<div class="blckquote">
				<img class="quoteImg" src="https://visitgreenland.com/wp-content/themes/enfold_child_by_kathart/images/icon-quotation.png" />
			</div>
			<p class="quotePraph">
				“They were moving really fast.
				They were really dancing!
				That was quite an experience.
				It is a once-in-a-lifetime thing.
				They are so exciting for me!”
			</p>
		</div>
	</div>
@*	-------About Place 2 ----------------*@
	<div class="moreAbout">
		<div class="leftAbout">
			<h2>
				NORTHERN LIGHTS IN GREENLAND
			</h2>
			<p>
				One local area is mentioned again and again, when we want to point out the very best and most easily accessible destinations in Greenland to view the northern lights, and that is the airport settlement of Kangerlussuaq, uniquely located inland in lee of mountains and ice; Kangerlussuaq boasts more than 300 clear nights a year.
				<br />
				<br />
				The season for watching the northern lights in Kangerlussuaq, which is from the end of September to the middle of April, is the same as in the rest of the country. Heading out on the only gravel road in Greenland leading directly to the Ice Cap, the opportunities for seeing the northern lights are at their best, as there is hardly any man made “pollution light” to speak of, even after travelling just a short stretch on the road.
				<br />
				<br />
				Although the situation is pretty unique in Kangerlussuaq, the northern lights are none-the-less a common sight in the night sky in many places in Greenland. Even with the many street lamps in the capital city of Nuuk, the northern lights are clearly visible and will often make people stop, pause and look up at the sky on their way home from work.
			</p>
			<h2>
				SCIENCE AND MYTH
			</h2>
			<p>
				What are the northern lights really? Northern lights are electrically charged particles from the sun, which hit our atmosphere, and create a natural phenomenon of light with altering colors, revealing how far above our planet the particles are, when they hit the atmosphere.
				<br />
				<br />
				But is this scientific explanation of the Aurora Borealis really the reason why we, time after time, stop in our tracks when the northern lights flash across the night sky? Or are we reminded of something greater than ourselves, something almost magical that will even entice Greenlanders, who are thoroughly accustomed to seeing the northern lights, to look up at the night sky.			<br />
				<br />
				<br />
				We know for a fact that the same fascination that we feel and that you will feel while visiting, in a similar manner also challenged the imagination of our ancestors. In a well-known myth, we are told that when the northern lights dance across the night sky, it is the dead who are playing soccer with the skull of a walrus.

			</p>
		</div>
		<div class="rightAbout">
			<p>
				Northern lights flash across the sky all year, but are most visible from the end of
				September
				to the middle of April.
			</p>
			<p>
				Kangerlussuaq, Sisimiut and Ilulissat all offer guided tours during the winter months to see the northern lights.
			</p>
			<p>
				Current updated information on solar activity and the northern lights is available on NOAA's 30 minutes forecasts at the Space Weather Prediction Center.
			</p>
			<p>
				Northern lights are also referred to as the Aurora Borealis in the Arctic (New Latin, literally meaning: northern dawn). In Antarctica, a related phenomenon is known as the Aurora
			</p>
			<p>
				Australis or southern lights. The two events always happen simultaneously as the charged particles that hit the atmosphere move back and forth in a magnetic belt between the poles.
			</p>
			<p>
				The colors displayed in the northern lights fluctuate in hues from green to red to blue dependent on what type of particles are present. On the web site Webexhibits there is more about the colors and the reasons for them.
			</p>
			<p>
				Kangerlussuaq, Sisimiut and Ilulissat all offer guided tours during the winter months to see the northern lights.
			</p>
			<p>
				Current updated information on solar activity and the northern lights is available on NOAA's 30 minutes forecasts at the Space Weather Prediction Center.
			</p>
			<p>
				Northern lights are also referred to as the Aurora Borealis in the Arctic (New Latin, literally meaning: northern dawn). In Antarctica, a related phenomenon is known as the Aurora
			</p>
			<p>
				Australis or southern lights. The two events always happen simultaneously as the charged particles that hit the atmosphere move back and forth in a magnetic belt between the poles.
			</p>
			<p>
				The colors displayed in the northern lights fluctuate in hues from green to red to blue dependent on what type of particles are present. On the web site Webexhibits there is more about the colors and the reasons for them.
			</p>
			<p>
				You will probably want to film or photograph the northern lights when you are out viewing them, and therefore, for this purpose we have submitted a blog entry to Flotomalia.dk describing the steps needed in order to obtain successful photos of the northern lights.
			</p>
		</div>
	</div>
	<div class="moreImage">
		<img src="https://visitgreenland.com/wp-content/uploads/northern-lights-over-the-travellodge-greenland-hut-at-sermilik-ice-fjord-in-east-greenland-1400x933.jpg" />
		<img src="https://visitgreenland.com/wp-content/uploads/northern-lights-by-mads-pihl-17-1400x933.jpg" />
		<img src="https://visitgreenland.com/wp-content/uploads/man-playing-with-norhern-light-and-torch-lamp-by-mads-pihl-1400x933.jpg" />
		<img src="https://visitgreenland.com/wp-content/uploads/a-photographer-on-a-photo-tour-in-north-greenland-captures-the-perfect-nighttime-shot-of-northern-lights-the-starry-night-sky-and-icebergs-in-the-ilulissat-icefjord-1-1400x944.jpg" />
	</div>
</div>
