@{
    ViewData["Title"] = "Home Page";
    ViewData["Style"] = "About.css";

}
<div class="container paperWrap">
    <header>
        <h1>
            About The Campaign
        </h1>
    </header>
    <section class="paper">
        <h3>
            The Discover The Forest Campaign
        </h3>
        <p>
            Spending time in nature provides numerous benefits for families, presenting 
            both bonding opportunities and the chance to instill a lifelong love for the outdoors. 
            The Discover the Forest campaign, a public service campaign created by the Ad Council
            in partnership with the U.S. Forest Service, encourages parents of tweens to experience 
            the outdoors with their family to strengthen their connection with nature and each other.
            By exploring local parks and forests, parents and caregivers make the forest part of their 
            family’s story, 
            and introduce their children to an environment where imagination thrives and memories are made.
        </p>
        <h3>
            Discovering Wild Lands
        </h3>
        <p>
            Exploring wild lands offers a profound connection to the untamed beauty
            of our planet. These untouched expanses of nature, often characterized by
            dense forests, rugged mountains, and sprawling plains, hold a unique allure
            for adventurers and nature enthusiasts alike. The experience of immersing oneself
            in these wild terrains opens the door to a world far removed from the hustle and bustle 
            of urban life.
        </p>
        <p>
            Venturing into these wild lands, one can witness nature's raw creativity at its finest. 
            From the graceful dance of trees in the wind to the melodious songs of birds echoing through canyons, 
            every element seems to harmonize with the rhythm of the Earth. 
            It's in these untouched havens that one can gain a renewed appreciation for the delicate balance
            of ecosystems and the resilience of 
            life that thrives in even the harshest conditions.
        </p>
        <h3>Our Campaign</h3>
        <p>
            Our campaign is dedicated to unveiling the hidden gems of our natural world,
            advocating for the protection of its untouched beauty. We strive to connect
            individuals with the awe-inspiring allure of wild lands, fostering a deep appreciation
            for the harmony that exists within these undisturbed ecosystems. As we embark on this 
            journey of exploration, we carry the responsibility of being stewards for these pristine
            landscapes, ensuring their preservation for future generations. Join us in our mission to 
            celebrate and safeguard the enchanting
            wilderness that enriches our planet's tapestry.
        </p>
        <div class="getContact">
            <div>(555) 444 3322</div>
            <div>J. K. Rowling</div>
        </div>
    </section>
</div>