body {
    background: url("https://images.unsplash.com/photo-1573615185495-3d4dba4d5dd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80") no-repeat;
    background-position-y: 10%;
    background-size: cover;
}

.mt-10 {
    margin-top: 100px;
    text-align: center;
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 2em;
    padding: 1em;
    flex-direction: column;
}

.cont {
    padding: 3em 5em;
    text-align: center;
    backdrop-filter: blur(15px);
    box-shadow: 8px 8px 20px 20px rgba(0,0,0,0.3)
}

.textInput {
    padding: .4em 1.2em;
    color: black;
    background-color: transparent;
    border: 1px solid var(--clr-header);
    border-radius: 8px;
    outline: none;
}

    .textInput:focus {
        background-color: rgba(255,255,255,0.5);
    }

input[type="submit"] {
    margin-block: 2em;
    padding: .4em 1.2em;
    color: black;
    background-color: transparent;
    border: 2px solid var(--clr-header);
    outline: none;
    border-radius: 8px;
}

    input[type="submit"]:hover {
        color: var(--clr-textWhite);
        border: none;
        outline: none;
        background-color: var(--clr-header);
    }
