:root {
    --clr-main: #388E3C;
    --clr-header: #064635;
    --clr-body: #4e4034;
    --clr-bg-main: #F1FDF3;
    --clr-textDark: #616161;
    --clr-textWhite: #F1FDF3;
    --clr-textBtn: #D8B384;
    --clr-btn: #E86A33;
    --clr-bg: #FAF1E6;
    --clr-red: #BD242B;
    --clr-bg2: #EFFCEF;
}
/*
Ana Renk (Logo Renk) - Orman Yeşili: #388E3C
Ana Tema Rengi - Gece Mavisi: #1565C0
Dikkat Çeken Rengi - Amber: #FFA000
Metin ve Arka Plan - Koyu Gri Tonu: #616161
Buton Rengi - Menekşe Moru: #9C27B0
Arka Plan - Kömür Siyahı: #212121
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--clr-bg-main);
}

@media (min-width: 1000px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/*----------------------HEADER----------------------------*/
.header {
    z-index: 2;
    background-color: var(--clr-header);
    display: flex;
    padding: 10px 20px;
    position: fixed;
    right: 0;
    height: 70px;
    left: 0;
    top: 0;
    justify-content: space-around;
}

.header-logo img {
    width: 90px;
    height: 70px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 1em;
    transition: all ease-out 200ms;
}

    .header-logo img:hover {
        scale: 1.1;
    }
/*----------------------MAIN----------------------------*/

.container {
    margin-top: 100px;
}


/*----------------SIDE-FOOTER---------------------------------*/

.sidefooter {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-block: 2em;
    align-items: center;
    color: var(--clr-bg);
    background-color: var(--clr-body);
}

    .sidefooter section {
        box-shadow: 1px 2px 13px 5px rgba(0,0,0,0.25);
    }

        .sidefooter section:first-child {
            padding: 1em 4em;
        }

        .sidefooter section:last-child {
            opacity: .6;
            width: 290px;
            padding-right: 1em;
            background-color: var(--clr-textWhite);
        }

            .sidefooter section:last-child:hover {
                opacity: .86;
            }

        .sidefooter section input {
            padding: 1.1em 2em;
            width: 250px;
            margin: 0 !important;
            line-height: 1;
            border: none;
            outline: none;
            background-color: transparent;
        }

.mailIcon {
    color: var(--clr-btn) !important;
    cursor: pointer;
}

    .mailIcon:is(:hover,:focus) {
        color: var(--clr-textBtn);
        font-size: 1.1em;
    }

/*----------------SIDE - FOOTER - POPUP------------------*/
.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 111;
}

.popup-content {
    background-color: var(--clr-header);
    width: 50%;
    margin: 10% auto;
    padding: 50px;
    position: relative;
    border-radius: 10px 100px / 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    z-index: 111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-popUp {
    z-index: 12;
    color: darkred;
    position: absolute;
    top: -30px;
    right: 0px;
    font-size: 3em;
    cursor: pointer;
}

    .close-popUp:hover {
        color: var(--clr-textBtn)
    }

#closePopup {
    background-color: var(--clr-btn);
    border: white solid 1px;
    border-radius: 6px;
    z-index: 11;
    padding: .1em 1em;
    margin-block: .2em;
}

    #closePopup:is(:hover,:focus) {
        opacity: .8;
    }
/*----------------FOOTER---------------------------------*/
.mainfooter {
    display: flex;
    background-color: var(--clr-bg-main);
    border-top: solid 1px lightgray;
    padding-block: 2.2em;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:900px) {
    .header {
        justify-content: space-between;
    }


    .sidefooter {
        gap: 1em;
        padding-block: 1em;
        flex-direction: column;
    }

        .sidefooter section:last-child {
            opacity: 1;
            width: 250px;
        }

            .sidefooter section:last-child:hover {
                opacity: .86;
            }

        .sidefooter section input {
            width: 200px;
        }

    .mailIcon {
        color: var(--clr-btn) !important;
        cursor: pointer;
    }

        .mailIcon:is(:hover,:focus) {
            color: var(--clr-textBtn);
            font-size: 1.1em;
        }



    .header-logo img {
        width: 75px !important;
        height: 55px !important;
    }

    .header {
        height: 55px !important;
    }

    .mainfooter {
        display: block;
    }



    .footerLogo img {
        width: 130px !important;
        height: 60px !important;
        padding-inline: 1em 3em;
        float: left;
    }

    .footer-social-media {
        clear: left;
    }
}

.footerLogo {
    padding-inline: 6em;
    border-right: solid 1px lightgray;
}


    .footerLogo img {
        width: 140px;
        height: 70px;
    }

.footerNav {
    padding: 1em;
    height: 100%;
    overflow: hidden;
    border-right: solid 1px lightgray;
}

    .footerNav ul li {
        list-style: none;
    }

        .footerNav ul li a {
            text-decoration: none;
            color: var(--clr-btn);
        }

.animateBottomLine {
    display: inline-block;
    color: black !important;
}

    .animateBottomLine::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: var(--clr-btn);
        transition: width .3s;
    }

    .animateBottomLine:hover {
        color: var(--clr-btn) !important;
    }

        .animateBottomLine:hover::after {
            width: 100%;
        }


.footer-social-media {
    list-style: none;
    display: flex;
    justify-content: center;
}

    .footer-social-media li {
        text-align: center;
        padding: 15px;
    }


.links {
    text-shadow: 1px 1px 1px #555, -1px -1px 1px #000;
    color: var(--clr-header);
}

    .links:hover, .bevel:focus {
        color: var(--clr-btn)
    }

.prvicy {
    color: var(--clr-btn);
}

    .prvicy:hover {
        color: var(--clr-body);
    }
