.registerBtn {
    display: flex;
    align-items: center;
    height: 100%;
}

    .registerBtn li {
        list-style: none !important;
    }

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 .8em var(--clr-textBtn);
}

.close:hover,
.close:focus {
    box-shadow: inset -2.4em 0 0 0 var(--clr-btn), inset 2.4em 0 0 0 var(--clr-btn);
}

.regbtn-close {
    color: var(--clr-btn) !important;
    transition: .35s;
    text-decoration: none;
    border-radius: .4em !important;
}

.regbtn-fill {
    color: var(--clr-textBtn) !important;
    transition: .35s;
    border-radius: .4em !important;
    text-decoration: none;
}

    .regbtn-fill:hover, .regbtn-fill:focus {
        border-color: var(--clr-textBtn);
        border-radius: 0 !important;
        color: var(--clr-bg) !important;
    }

.regbtn-close:hover, .regbtn-close:focus {
    border-color: var(--clr-btn);
    border-radius: 0 !important;
    color: var(--clr-bg) !important;
}

.regbtn {
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 1.2em 0.5em;
    padding: .2em .8em;
}
